.all-pending-requests-admin {
    border-collapse: collapse;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .all-pending-requests-admin th,
  .all-pending-requests-admin td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  
  .all-pending-requests-admin th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
 .all-pending-requests-admin td {
    border-bottom: 1px solid #ddd;
  } 
  
  .all-pending-requests-admin td img {
    width: 80px;
    height: auto;
  }
  
  .all-pending-requests-admin-header {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    /* font-variant: all-small-caps; */
  }
  
  @media screen and (max-width: 768px) {
    .all-pending-requests-admin th,
    .all-pending-requests-admin td {
      padding: 4px;
      font-size: 12px;
    }
  
    .all-pending-requests-admin td img {
      max-width: 80px;
    }
  }
  